.navBar {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 56px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 12px 40px 0 rgba(0, 0, 0, 0.02);
}

.logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 300px;
  height: auto;
}

.menu {
  float: right;
  margin-top: -36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}

.menuLink {
  color: #707070;
  text-decoration: none;
  margin-right: 25px;
}

.menuLink:hover {
  color: #484848;
}

.feed {
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  width: 777px;
  height: 2568px;
}

.feedLeft {
  position: absolute;
}

.feedRight {
  position: absolute;
  margin-left: 397px;
}

.card {
  background-color: #FFFFFF;
  margin-top: 17px;
  width: 380px;
  height: 565px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06), 0 12px 40px 0 rgba(0, 0, 0, 0.06);
}

.cardImg {
  width: 360px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.downloadColumn1 {
  position: absolute;
}

.downloadColumn2 {
  position: absolute;
  margin-left: 185px;
}

.downloadHeader {
  width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -45px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #707070;
}

.downloadBox {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  width: 360px;
  height: 43px;
}

.downloadBtn {
  position: absolute;
  height: 53px;
  width: 175px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #FD5C63;
  border: none;
  outline: none;
  color: white;
}

.downloadBtn:hover {
  background: #FF737D;
  cursor: pointer;
}

.downloadBtnHolder {
  position: absolute;
  height: 53px;
  width: 175px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #FF737D;
  border: none;
  outline: none;
  color: white;
}

.thumbImg {
  margin-top: 5px;
  width: 35px;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 100px;
  margin-left: 37.5px;
  margin-top: 55px;
  background-color: rgba(255, 255, 255, .97);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #909090;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06), 0 12px 40px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, .97) transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.footer {
  margin-top: 54px;
  margin-bottom: 80px;
}

.footerLine {
  margin-left: auto;
  margin-right: auto;
  width: 777px;
  height: 1px;
  background-color: #D8D8D8;
}

.footerLicense {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #888888;
  text-decoration: none;
}

.footerLicense:hover {
  color: #888888;
  text-decoration: underline;
  text-decoration-color: #888888;
}

.licenseDiv {
  margin-top: 10px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcomeCard {
  margin-top: 17px;
  width: 380px;
  height: 223px;
}

.welcomeText {
  margin-bottom: -45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 170%;
  color: #808080;
}

.freeLink {
  text-decoration: none;
  color: #FD5C63
}
