.allNavBar {
  z-index: 3;
}

.navBar {
  top: 0;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 66px;
  background-color: white;
}

.logoImg {
  display: block;
  margin-top: 10px;
  width: 300px;
  height: auto;
}
.logoDiv {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  float: right;
  margin-top: -36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.menuLink {
  color: #909090;
  text-decoration: none;
  margin-right: 25px;
}

.menuLink:hover {
  color: #B0B0B0;
}

.feed {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  width: auto;
  max-width: 777px;
  height: 2568px;
  background-color: red;
}

.feedLeft {
  width: 380px;
float:left;
  background-color: blue;
}

.feedRight {
  width: 380px;
  margin-left: 17px;
  margin-top: -17px;
  float:left;
  background-color: blue;
}

.card {
  background-color: #FFFFFF;
  margin-top: 17px;
  width: 380px;
  height: 565px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06), 0 12px 40px 0 rgba(0, 0, 0, 0.06);
}

.cardImg {
  width: 360px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.downloadColumn1 {
  position: absolute;
}

.downloadColumn2 {
  position: absolute;
  margin-left: 185px;
}

.downloadHeader {
  width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -45px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #707070;
}

.downloadBox {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  width: 360px;
  height: 43px;
}

.downloadBtn {
  position: absolute;
  height: 53px;
  width: 175px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #FD5C63;
  border: none;
  outline: none;
  color: white;
}

.downloadBtn:hover {
  background: #FF737D;
  cursor: pointer;
}

.downloadBtnHolder {
  position: absolute;
  height: 53px;
  width: 175px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #FF737D;
  border: none;
  outline: none;
  color: white;
}

.thumbImg {
  margin-top: 5px;
  width: 35px;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 100px;
  margin-left: 37.5px;
  margin-top: 55px;
  background-color: rgba(255, 255, 255, .97);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #909090;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06), 0 12px 40px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, .97) transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.footer {
  margin-top: 80px;
  margin-bottom: 50px;
}

.footerLine {
  margin-left: auto;
  margin-right: auto;
  width: 777px;
  height: 1px;
  background-color: #D8D8D8;
}

.footerLicense {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #888888;
  text-decoration: none;
}

.footerLicense:hover {
  color: #888888;
  text-decoration: underline;
  text-decoration-color: #888888;
}

.licenseDiv {
  margin-top: 10px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcomeCard {
  margin-top: 17px;
  width: 380px;
  height: 223px;
}

.welcomeText {
  margin-bottom: -45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 170%;
  color: #808080;
}

.freeLink {
  color: #505050;
  text-decoration:underline;
}

.licensePage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  width: 777px;
  height: 100vh;
  min-height: 300px;
}

.aboutPage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  width: 777px;
  height: 100vh;
  min-height: 830px;
}


.head {
  font-family: 'Open Sans', sans-serif;
  color: #383838;
  font-size: 40px;
  font-weight: 700;
}
.headTwo {
  font-family: 'Open Sans', sans-serif;
  color: #383838;
  font-size: 26px;
  font-weight: 700;
}

.miniHead {
  font-family: 'Open Sans', sans-serif;
  color: #989898;
  font-size: 26px;
  font-weight: 300;
}

.textBlock {
font-family: 'Lora', serif;
color: #383838;
line-height: 180%;
font-size: 19px;
letter-spacing: .1px;
}

.bodyLink {
  color: #383838;
  text-decoration:underline;
}

.hamburgerMenu {
  display: none;
}

.arrowNoClicks {
  position: absolute;
  top: 24px;
  right: 24px;
  width: auto;
  height: 20px;
  z-index: 6;
}

.arrowNoClicks:hover {
  cursor: pointer;
}

.arrowOpen {
  position: absolute;
  top: 24px;
  right: 24px;
  width: auto;
  height: 20px;
  z-index: 6;
  animation-name: arrowOpen;
  animation-duration: .4s;
  transform: rotate(180deg);
}

.arrowOpen:hover {
  cursor: pointer;
}

.arrowClose {
  position: absolute;
  top: 24px;
  right: 24px;
  width: auto;
  height: 20px;
  z-index: 6;
  animation-name: arrowClose;
  animation-duration: .4s;
}

.arrowClose:hover {
  cursor: pointer;
}

.dropMenuNoClicks {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 188px;
  top: -122px;
  z-index: 2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 12px 40px 0 rgba(0, 0, 0, 0.02);
}

.dropMenuOpen {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 188px;
  top: 66px;
  animation-name: open;
  animation-duration: .4s;
  z-index: 2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 12px 40px 0 rgba(0, 0, 0, 0.12);
}

.dropMenuClose {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 188px;
  top: -122px;
  animation-name: close;
  animation-duration: .4s;
  z-index: 2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.02), 0 12px 40px 0 rgba(0, 0, 0, 0.02);
}

.dropMenuList {
  margin-top: 46px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.dropMenuIndiv {
  margin-top: 20px;
}

.dropMenuLinks {
  color: #909090;
  text-decoration: none;
  margin-right: 25px;
}











@media (max-width: 791px) {
  .feed {
    width: 380px;
    height: 4896px;
  }
  .feedRight {
    margin-left: 0px;
    margin-top: 0px;
  }
  .footerLine {
    width: 380px;
  }
  .menu {
    display: none;
  }
  .hamburgerMenu {
    display:block;
  }
  .logoDiv {
    width: 200px;
    margin-left: 10px;
  }
  .logoImg {
    display: block;
    margin-top: 17px;
    width: 200px;
  }
}



@keyframes open {
    0%   {transform: translate(0, -188px)};
    100% {transform: translate(0, 0)};
}

@keyframes close {
  0% {transform: translate(0, 188px)};
  100% {transform: translate(0, 0)};
}

@keyframes arrowOpen {
  0% {transform: rotate(0deg)};
  100% {transform: rotate(180deg)};
}

@keyframes arrowClose {
  0% {transform: rotate(180deg)};
  100% {transform: rotate(0deg)};
}
